@import 'reset'
@import 'base'

button
  background-color: white
  border: 1px solid black
  cursor: pointer

  &:focus
    outline: none

.page
  height: 100vh
  background-size: contain
  background-repeat: repeat

.lobby-btn
  background-color: rgba(0, 0, 0, 0)
  color: white
  padding: 0px 10px
  margin: 0px 10px

  border: 7px solid white
  border-radius: 12px

  p
    font-family: Caveat
    font-size: 45px
    line-height: 40px
    letter-spacing: 1px
    background-color: rgba(0, 0, 0, 0)
  &:hover
    transform: rotate(-2deg)

    p
      text-shadow: 0px 0px 2px white, 0px 0px 5px white, 0px 0px 10px white, 0px 0px 20px white

#back
  height: 40px
  cursor: pointer

// Elements
@import './Elements/GoArrow'

// components
@import 'LandingPage'
@import 'Lobby'
@import 'HostLobby'
@import 'LobbySettings'
