.LandingPage
  min-height: 100vh
  min-width: 100vw
  background-size: contain
  background-repeat: repeat

  position: relative
  display: flex
  justify-content: center

  .innerPage
    // height: 100%
    // width: 100%

    background-size: cover
    background-repeat: no-repeat
    border: 1px solid red

    .btn-box
      display: flex
      justify-content: center

